
#title{
    background-color: #ff4c68;
    color: white;
    padding-bottom: 20px;
}

/* navbar */

.navbar-light .navbar-toggler {
    color: #f8f9fa;
}
.navbar-light .navbar-nav .nav-link {
    color: #f8f9fa;
    padding: 0 18px;

}
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 10px;
    
}
.nav-item{
    padding: 0 18px;

}
#TinDog{
    color: #fff;
}

/* header */
.header{
    font-family: "Montserrat";
    font-size: 60px;
    line-height: 1.5;
 
} 
#Download{
   margin: 20px;
}
.container-fluid{
    padding: 3% 15%;
}

.iphone-img{
    transform: rotate(25deg);
    padding:0 90px 263px;
    width: 30%;
    position: absolute;
}
/* features */
#features{
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}
.features-box{
    text-align: center;
    margin-bottom: 8px;
}
.icon{
    margin-bottom: 8px;
    color: #ff4c68;
}
.icon:hover{
    color: #f2324f; 
}
p{
    color: rgb(151, 150, 150);
    width: 70%;
    margin: auto;
}
/* Testimonial */
#testimonials{
    text-align: center;
    background-color: #ff4c68;
    color: #fff;
}
.carousel-item{
    padding: 7% 15%;
}
h2{
    font-family: "Montserrat";
    font-size: 3rem;
    line-height: 1.5;
}
.testimonials-img{
    width: 10%;
    border-radius: 100%;
    margin: 12px;
}
/* press */
#press{
    background-color: #ff4c68;
   text-align: center;
   padding: 40px;
}
.press-img{
    padding: 0 20px 50px;
    width: 15%;
 
}
/* Pricing */
#pricing{
    padding: 144px;
    text-align: center;
    line-height: 2;
}
.pricing-para{
    padding: 0 15% 5%;
}
.pricing-card{
    padding:3% 1.5%;

}
 /* Call to Action  */
 #cta{
    background-color: #ff4c68;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 7%;
 }
 .cta-para{
    color: #fff;
    font-size: 55px;
    font-weight: 900;
    width: 70%;
    margin: auto;

 }
/* footer */
#footer{ 
  
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    padding: 5% 15%;
    
}
.footer-icon{
    color: black;
    margin: 2%;
}




@media (max-width:991px){
    #title{
       text-align: center;
    }
    .iphone-img{
        position: static;
        transform: rotate(0);
        width: 70%;

    }
}
   
     
